/*header style*/
header {
    text-align: center; 
    padding: 20px;
 }
body {
     background-image: url(background.jpg);
 }
 /*navigation menu style*/
 nav {
    text-align: center;
    word-spacing: 30px;
    Padding: 10px;
 }
 /*navigation bar style*/
nav {
    text-align: center;
    word-spacing: 30px;
    padding: 10px;
    background-color: #292903
}   
 /*navigation bar button style*/
 nav a {
    color: #f3f3f3;
    text-decoration: none;
    font-size: larger;
 }
 /*creating the two-column layout*/
 *{
    box-sizing: border-box;
 }
 .row {
    display: flex;
    flex-wrap: wrap;
 }
 .post-text-box {
    flex: 70%;
    padding: 20px;
 }
 .profile {
    text-align: right;  
    flex: 70%;
    padding: 20px;
 }
 /*profile image and heading style*/
 .profile img {
    text-align: right;
    width: 120px;
    display: inline-block ;
    margin-left: 0;
    margin-right: 0;
 }
 .profile h1 {
    text-align: right;
 }